<!doctype html>
<html>
  <head>
    <title><%= current_page.data.title || "character.construction" %></title>
    <%= stylesheet_link_tag "all" %>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="Unicode BOM"/>
    <meta name="keywords" content="unicode, codepoints, data"/>

    <script>
function registerShake() {
  document.querySelectorAll('.u,.n,.f,.c, .b').forEach(function(e){
    var shakeInProgressTimeout = null
    e.addEventListener('click', function(){
      if(shakeInProgressTimeout){
        clearTimeout(shakeInProgressTimeout)
        shakeInProgressTimeout = null
        e.classList.remove('shake')
      } else {
        e.classList.add('shake')
        shakeInProgressTimeout = setTimeout(function(){
          e.classList.remove('shake')
          shakeInProgressTimeout = null
        }, 1400)
      }
    })
  })
}

document.addEventListener('DOMContentLoaded', registerShake)
document.addEventListener('DOMContentLoaded', function(){
  ['h2', 'h3'].forEach(function(h){
    document.querySelectorAll(h).forEach(function(e){
      e.innerHTML = '<a href="#' + e.id + '">' + e.innerHTML + '</a>'
    })
  })
})

function scrollTo(href, cb) {
  if(window) {
    if(document.body.scrollIntoView) {
      document.querySelector(href).scrollIntoView({
        behavior: 'smooth'
      })
      if(cb){ setTimeout(cb, 200) }
    } else {
      window.location.href = href
      if(cb){ cb() }
    }
  }
}

function registerScroll() {
  document.querySelectorAll('a[href^="#"]').forEach(function(a){
    a.addEventListener("click", function(event) {
      event.preventDefault()
      scrollTo(a.hash)
    })
  })
}
document.addEventListener('DOMContentLoaded', registerScroll)
    </script>

    <script src="/javascripts/clipboard.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        new ClipboardJS('.c, .e, .f, .n', {
          text: function(trigger) {
            return trigger.textContent
          }
        }).on("success", function(e) {
          // console.log("copy: " + e.text)
        })

        new ClipboardJS('.b', {
          text: function(trigger) {
            return trigger.children[0].textContent
          }
        }).on("success", function(e) {
          // console.log("copy: " + e.text)
        })
      })

    </script>
  </head>

  <body>
    <%# last_content_update = Date.parse(`git log -1 --format=%cd`).strftime("%B %d, %Y") rescue nil %>
    <div class="world">
      <% content = yield %>
      <% heading = content[%r_<h1.*?>(.*?)</h1>_, 1] %>
      <% post = content.sub(%r_<h1(.*?)</h1>_, '') %>


      <section class="post-header">
        <a class="cc" href="/">[ character.construction ]</a>
        <ul class="links">
          <li><a href="/"><span>All Emoji</span></a></li>
          <li><a href="/emoji-categories"><span>Emoji Categories</span></a></li>
          <li><a href="/emoji-vs-text"><span>Emoji vs. Text</span></a></li>
          <li><a href="/blanks"><span>Blank Characters</span></a></li>
          <li><a href="/numbers"><span>Unicode Numbers</span></a></li>
        </ul>
        <h1 class="post-heading" id="top"><%= heading ? " #{heading}" : "" %></h1>
      </section>

     	<article class="post"><%= post %></article>

      <footer class="<%= heading ? 'not-index' : 'index' %>">
        <a href="/" class="action">character.construction</a> is curated by <a href="https://twitter.com/JanLelis">@JanLelis</a><br/>
        Unicode 12.0 / Emoji 12.0<br/>
        <a href="https://janlelis.com/data-protection">Privacy Policy</a>
        <% if heading %>
          <br />
          <br />
          <em class="quote">Unicode provides a unique number for every character,
          no matter what the platform,
          no matter what the program,
          no matter what the language.</em>
          —&nbsp;<a href="https://www.unicode.org/standard/WhatIsUnicode.html">unicode.org</a>
        <% end %>
      </footer>
    </div>

    <a href="https://github.com/janlelis/character.construction"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
  </body>
</html>
