---
layout: ../layouts/Layout.astro
title: Ancient Egypt [character construction]
---

# Ancient Egypt Hieroglyphs

<h2 class="no-spacing" id="unclassified">Unclassified</h2>

<%= hieroglyphs(*0x1340d..0x1342e, *0x143F7..0x143FA) %>

<h2 class="no-spacing" id="strokes-signs-derived-from-hieratic-geometrical-figures">Strokes, Signs Derived from Hieratic, Geometrical Figures</h2>

<%= hieroglyphs(*0x133e4..0x1340c, *0x143E7..0x143F6) %>

<h2 class="no-spacing" id="writings-games-music">Writings, Games, Music</h2>

<%= hieroglyphs(*0x133db..0x133e3, *0x143CF..0x143E6) %>

<h2 class="no-spacing" id="loaves-and-cakes">Loaves and Cakes</h2>

<%= hieroglyphs(*0x133cf..0x133da, *0x143BC..0x143CE) %>

<h2 class="no-spacing" id="vessels-of-stone-earthware">Vessels of Stone and Earthenware</h2>

<%= hieroglyphs(*0x133af..0x133ce, *0x14359..0x143BB) %>

<h2 class="no-spacing" id="rope-fiber-baskets-bags">Rope, Fiber, Baskets, Bags, etc.</h2>

<%= hieroglyphs(*0x13362..0x133ae, 0x1342F, *0x1431E..0x14358) %>

<h2 class="no-spacing" id="agriculture-crafts-and-professions">Agriculture, Crafts, and Professions</h2>

<%= hieroglyphs(*0x13333..0x13361, *0x1428F..0x1431D) %>

<h2 class="no-spacing" id="warfare-hunting-butchery">Warfare, Hunting, Butchery</h2>

<%= hieroglyphs(*0x13307..0x13332, *0x141F7..0x1428E) %>

<h2 class="no-spacing" id="crowns-dress-staves-etc">Crowns, Dress, Staves, etc.</h2>

<%= hieroglyphs(*0x132d1..0x13306, *0x1414D..0x141F6) %>

<h2 class="no-spacing" id="temple-furniture-and-sacred-emblems">Temple Furniture and Sacred Emblems</h2>

<%= hieroglyphs(*0x132af..0x132d0, *0x140CF..0x1414C) %>

<h2 class="no-spacing" id="domestic-and-funerary-furniture">Domestic and Funerary Furniture</h2>

<%= hieroglyphs(*0x132a8..0x132ae, *0x14099..0x140CE) %>

<h2 class="no-spacing" id="ships-and-parts-of-ships">Ships and Parts of Ships</h2>

<%= hieroglyphs(*0x1329b..0x132a7, *0x1401A..0x14098) %>

<h2 class="no-spacing" id="buildings-parts-of-buildings-etc">Buildings, Parts of Buildings, etc.</h2>

<%= hieroglyphs(*0x13250..0x1329a, *0x13F4C..0x14019) %>

<h2 class="no-spacing" id="nomes-of-upper-egypt">Nomes of Upper Egypt</h2>

<%= hieroglyphs(*0x13236..0x1324f) %>

<h2 class="no-spacing" id="nomes-of-lower-egypt">Nomes of Lower Egypt</h2>

<%= hieroglyphs(*0x13220..0x13235) %>

<h2 class="no-spacing" id="sky-earth-water">Sky, Earth, Water</h2>

<%= hieroglyphs(*0x131ef..0x1321f, *0x13EC2..0x13F4B) %>

<h2 class="no-spacing" id="trees-and-plants">Trees and Plants</h2>

<%= hieroglyphs(*0x131ad..0x131ee, *0x13DFA..0x13EC1) %>

<h2 class="no-spacing" id="invertabrata-and-lesser-animals">Invertabrata and Lesser Animals</h2>

<%= hieroglyphs(*0x131a3..0x131ac, *0x13DE1..0x13DF9) %>

<h2 class="no-spacing" id="fishes-and-parts-of-fishes">Fishes and Parts of Fishes</h2>

<%= hieroglyphs(*0x1319b..0x131a2, *0x13DCC..0x13DE0) %>

<h2 class="no-spacing" id="amphibious-animals-reptiles-etc">Amphibious Animals, Reptiles, etc.</h2>

<%= hieroglyphs(*0x13188..0x1319a, *0x13D2F..0x13DCB) %>

<h2 class="no-spacing" id="parts-of-birds">Parts of Birds</h2>

<%= hieroglyphs(*0x1317f..0x13187, *0x13D10..0x13D2E) %>

<h2 class="no-spacing" id="birds">Birds</h2>

<%= hieroglyphs(*0x1313f..0x1317e, *0x13C0B..0x13D0F) %>

<h2 class="no-spacing" id="parts-of-mammals">Parts of Mammals</h2>

<%= hieroglyphs(*0x130fe..0x1313e, *0x13B5C..0x13C0A) %>

<h2 class="no-spacing" id="mammals">Mammals</h2>

<%= hieroglyphs(*0x130d2..0x130fd, *0x13A36..0x13B5B) %>

<h2 class="no-spacing" id="parts-of-the-human">Parts Of The Human</h2>

<%= hieroglyphs(*0x13076..0x130d1,*0x1392D..0x13A35) %>

<h2 class="no-spacing" id="anthropomorphic-deities">Anthropomorphic Deities</h2>

<%= hieroglyphs(*0x1305a..0x13075, *0x13749..0x1392C) %>

<h2 class="no-spacing" id="woman-and-her-occupations">Woman and Her Occupations</h2>

<%= hieroglyphs(*0x13050..0x13059, *0x136D4..0x13748) %>

<h2 class="no-spacing" id="man-and-his-occupations">Man and His Occupations</h2>

<%= hieroglyphs(*0x13000..0x1304f, *0x13460..0x136D3) %>
