---
title: Ancient Egypt [character construction]
date: 2019-03-05
tags: unicode, hieroglpyhs
---

# Ancient Egypt Hieroglyphs

<h2 class="no-spacing" id="unclassified">Unclassified</h2>

<%= hieroglyphs(0x1340d..0x1342e) %>

<h2 class="no-spacing" id="strokes-signs-derived-from-hieratic-geometrical-figures">Strokes, Signs Derived from Hieratic, Geometrical Figures</h2>

<%= hieroglyphs(0x133e4..0x1340c) %>

<h2 class="no-spacing" id="writings-games-music">Writings, Games, Music</h2>

<%= hieroglyphs(0x133db..0x133e3) %>

<h2 class="no-spacing" id="loaves-and-cakes">Loaves and Cakes</h2>

<%= hieroglyphs(0x133cf..0x133da) %>

<h2 class="no-spacing" id="vessels-of-stone-earthware">Vessels of Stone and Earthenware</h2>

<%= hieroglyphs(0x133af..0x133ce) %>

<h2 class="no-spacing" id="rope-fiber-baskets-bags">Rope, Fiber, Baskets, Bags, etc.</h2>

<%= hieroglyphs(0x13362..0x133ae) %>

<h2 class="no-spacing" id="agriculture-crafts-and-professions">Agriculture, Crafts, and Professions</h2>

<%= hieroglyphs(0x13333..0x13361) %>

<h2 class="no-spacing" id="warfare-hunting-butchery">Warfare, Hunting, Butchery</h2>

<%= hieroglyphs(0x13307..0x13332) %>

<h2 class="no-spacing" id="crowns-dress-staves-etc">Crowns, Dress, Staves, etc.</h2>

<%= hieroglyphs(0x132d1..0x13306) %>

<h2 class="no-spacing" id="temple-furniture-and-sacred-emblems">Temple Furniture and Sacred Emblems</h2>

<%= hieroglyphs(0x132af..0x132d0) %>

<h2 class="no-spacing" id="domestic-and-funerary-furniture">Domestic and Funerary Furniture</h2>

<%= hieroglyphs(0x132a8..0x132ae) %>

<h2 class="no-spacing" id="ships-and-parts-of-ships">Ships and Parts of Ships</h2>

<%= hieroglyphs(0x1329b..0x132a7) %>

<h2 class="no-spacing" id="buildings-parts-of-buildings-etc">Buildings, Parts of Buildings, etc.</h2>

<%= hieroglyphs(0x13250..0x1329a) %>

<h2 class="no-spacing" id="nomes-of-upper-egypt">Nomes of Upper Egypt</h2>

<%= hieroglyphs(0x13236..0x1324f) %>

<h2 class="no-spacing" id="nomes-of-lower-egypt">Nomes of Lower Egypt</h2>

<%= hieroglyphs(0x13220..0x13235) %>

<h2 class="no-spacing" id="sky-earth-water">Sky, Earth, Water</h2>

<%= hieroglyphs(0x131ef..0x1321f) %>

<h2 class="no-spacing" id="trees-and-plants">Trees and Plants</h2>

<%= hieroglyphs(0x131ad..0x131ee) %>

<h2 class="no-spacing" id="invertabrata-and-lesser-animals">Invertabrata and Lesser Animals</h2>

<%= hieroglyphs(0x131a3..0x131ac) %>

<h2 class="no-spacing" id="fishes-and-parts-of-fishes">Fishes and Parts of Fishes</h2>

<%= hieroglyphs(0x1319b..0x131a2) %>

<h2 class="no-spacing" id="amphibious-animals-reptiles-etc">Amphibious Animals, Reptiles, etc.</h2>

<%= hieroglyphs(0x13188..0x1319a) %>

<h2 class="no-spacing" id="parts-of-birds">Parts of Birds</h2>

<%= hieroglyphs(0x1317f..0x13187) %>

<h2 class="no-spacing" id="birds">Birds</h2>

<%= hieroglyphs(0x1313f..0x1317e) %>

<h2 class="no-spacing" id="parts-of-mammals">Parts of Mammals</h2>

<%= hieroglyphs(0x130fe..0x1313e) %>

<h2 class="no-spacing" id="mammals">Mammals</h2>

<%= hieroglyphs(0x130d2..0x130fd) %>

<h2 class="no-spacing" id="parts-of-the-human">Parts Of The Human</h2>

<%= hieroglyphs(0x13076..0x130d1) %>

<h2 class="no-spacing" id="anthropomorphic-deities">Anthropomorphic Deities</h2>

<%= hieroglyphs(0x1305a..0x13075) %>

<h2 class="no-spacing" id="woman-and-her-occupations">Woman and Her Occupations</h2>

<%= hieroglyphs(0x13050..0x13059) %>

<h2 class="no-spacing" id="man-and-his-occupations">Man and His Occupations</h2>

<%= hieroglyphs(0x13000..0x1304f) %>
